a:link{
    text-decoration: none;
}
@keyframes fadeIn{
    0%{
        margin-top: -2%;
    }

    100%{
        margin-top: 2%;
    }
}

@keyframes imgIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


@keyframes imgIn2{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}

@keyframes nameslide{
    0%{
        margin-left: -3%;
    }
    100%{
        margin-left: 3%;
    }
    
}

@keyframes nameslide_s{
    0%{
        margin-left: -60%;
    }
    100%{
        margin-left: 3%;
    }
}


.wrap{
    width:100%;
    overflow: hidden;
}


.contents_main{
    margin: 0 auto;
}

.top{
    display:flex;
    background-repeat: no-repeat;
    align-items: flex-start;
}

.top_image{
    margin-top: 3%;
    position: absolute;
    width: 20%;
    margin-left: 80%;
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-direction:alternate;
    animation-iteration-count:infinite;
    animation-timing-function:ease-in;
}

.top_images_me{
    margin-top: 10%;
    margin-left:20%;
    width: 70%;
    height: auto;
    box-shadow: 40px 40px;
}

.name{
    margin-top: 36%;
    margin-left: 3%;
    position: absolute;
    animation-name: nameslide;
    animation-duration: 3s;
    animation-timing-function:cubic-bezier(0.215, 0.610, 0.355, 1);
}

.name p{
    font-size: 3rem;
    font-family: source-han-serif-japanese, serif;
    font-weight: 200;
    font-style: normal;
}

.name h1{
    font-size: 7rem;
    font-family: source-han-serif-japanese, serif;
    font-weight: 200;
    font-style: normal;
}

.me{
    margin-top: 30%;
    display: flex;
    animation-name: imgIn;
    animation-duration: 3s;
    animation-timing-function:ease-out;
}

.me_img{
    width: 10%;
    position: absolute;
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-direction:alternate;
    animation-iteration-count:infinite;
}

.me-mainbox{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.me_lbox img{
    width: 100%;
}

.me_rbox{
    font-family: source-han-serif-japanese, serif;
    width: 70%;
    margin-top: 30px;
    margin-left:20px;
}

.me_name{
    font-size: 50px;
}

.back_bk{
    color: #fff;
    background: #000;
    padding: 0 2px;
}

.back_bk_link{
    
    padding: 10px 3px;
    border: 1px solid #000;
    color: #000;

}

.me_pro{
    margin-top: 30px;
    list-style: none;
}

.me_pro li{
    margin-top: 7px;
} 

.me_my li{
    list-style: none;
}

.me_text{
    margin-top: 25px;
    line-height: 1.56;
    font-size: 16px;
}

.me_link{
    margin-top: 30px;
    text-decoration: none;
    font-size: 1.1rem;
    color: #fff;
}


.works{
    margin-top: 20%;
    display:flex;
    transform: skew(0deg,-4deg);
    background-color: black;
    padding-bottom: 10%;
}

.works_img{
    position: absolute;
    margin-left: 92%;
    width: 8.5%;
    height: auto;
    transform: skew(0deg,4deg);
    margin-top: 1%;
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-direction:alternate;
    animation-iteration-count:infinite;
}


.ul1{
    transform: skew(0deg,4deg);
    list-style: none;
    width: 1000px;
    margin: 13% auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: source-han-serif-japanese, serif;
    font-weight: 400;
    font-style: normal;
}

.ul1 li{
    margin-top: 5%;
    width: 250px;
    background-color: white;
    padding: 2%;
    margin: 1%;
}

.ul1 li img{
    width: 100%;
    border: 0.01px solid;
}

.ul1 li h2{
    font-size: 24px;
    margin-top: 2%;
    margin-bottom: 50px;
}

.ul1 li a{
    text-align: center;
    text-decoration: none;
    background-color:#ffffff;
    overflow: hidden;
    position: relative;
    display: block;
    width: 120px;
    height: 40px;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #000;
    color: #000
}

 


.ul1 li a:hover{
    color: #fff;
    background-color: #000;
    transition: .5s;
}
 
.ul1 li a:hover:before{
    left: 0;
}

.contact{
    height: 37rem;
    width: 100%;
    margin-top: 5%;
    animation-name: imgIn2;
    animation-duration: 5s;
    animation-timing-function:ease-out;
}

.contact_img{
    position: absolute;
}

.mail_ad{
    padding-top: 20rem;
    text-align: center;
    font-size: 1.5rem;
}

footer{
    margin: 4px auto ;
}

.copy{
    text-align: center;
    margin-bottom: 20px;
    font-size: 12px;
}
.come_text{
    font-size: 24px;
}

.mail{
    padding: 10px;
    width: 300px;
    margin:0 auto;
}

.website{
    margin-top: 10%;
    display: flex;
    animation-name: imgIn;
    animation-duration: 3s;
    animation-timing-function:ease-out;
}

.website-all{
    margin-bottom: 20%;
}

.website_img{
    width: 10%;
    position: absolute;
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-direction:alternate;
    animation-iteration-count:infinite;
}

.website-mainbox{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.website_lbox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.website_lbox img{
    max-width: 100%;
    height:fit-content;
    margin: 10px
}

.website_rbox{
    font-family: source-han-serif-japanese, serif;
    width: 70%;
    margin-top: 30px;
    margin-left:20px;
}

.website_name{
    font-size: 30px;
}


.website_pro{
    margin-top: 30px;
    list-style: none;
}

.website_pro li{
    margin-top: 7px;
} 

.website_my li{
    list-style: none;
}

.website_text{
    margin-top: 25px;
    line-height: 1.56;
    font-size: 16px;
}

.website_link{
    margin-top: 30px;
    text-decoration: none;
    font-size: 1.1rem;
    color: #fff;
}

.website-topper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10% auto;
}

.back_bk_link_topper{
    text-align: center;
    padding: 20px 40px;
    border: 1px solid #000;
    color: #fff;
    background: #000;

}

.website_footer{
    margin-top: 10%;
}

@media screen and (max-width:480px) { 
    .top{
    margin-top: 100px;
    margin-bottom: 250px;
    }

    .top_images_me{
        width: 100%;
        margin-left: 0px;
        box-shadow: 20px 20px;
    }

    .name{
        animation-name:nameslide_s;
    }        

    .name h1{
        font-size: 3rem;
    }
    .name p{
        margin-top: 74%;
        font-size: 1.5rem;
    }

    .me_img{
        width: 20%;
    }

    .me-allbox{
        flex-direction: column;
    }

    .me_name{
        font-size: 1.7rem;
    }

    .me_pro{
        font-size: 0.8rem;
    }

    .ul1 {
        transform: skew(0deg,5deg);
        flex-wrap: wrap;
        justify-content: center;
    }

    .works{
        transform: skew(0deg,-5deg);
    }

    .works_img{
        transform: skew(0deg,5deg);
    }

    .ul1 li{
        margin-top: 30px;
    }

    .me_link{
        font-size: 14px;
    }

    .come_text{
        margin-left: 30%;
        font-size: 14px;
    }

    .mail{
        width: 60%;
        margin-left: 30%;
    }

    .copy{
        margin-top: 50px;
    }

    .website_name{
        font-size: 1rem;
    }

    .website_rbox{
        width: 100%;
    }

    .website_pro{
        font-size: 0.8rem;
    }

    .website_lbox iframe{
        width: 100%;
    }
}
